<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxx.dao.JudgeproblemMapper" >
  <resultMap id="BaseResultMap" type="com.xxx.bean.Judgeproblem" >
    <id column="judge_problem_id" property="judgeProblemId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    judge_problem_id, title, answer
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xxx.bean.JudgeproblemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from judgeproblem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from judgeproblem
    where judge_problem_id = #{judgeProblemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from judgeproblem
    where judge_problem_id = #{judgeProblemId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xxx.bean.JudgeproblemExample" >
    delete from judgeproblem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xxx.bean.Judgeproblem" >
    insert into judgeproblem (judge_problem_id, title, answer
      )
    values (#{judgeProblemId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{answer,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xxx.bean.Judgeproblem" >
    insert into judgeproblem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="judgeProblemId != null" >
        judge_problem_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="answer != null" >
        answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="judgeProblemId != null" >
        #{judgeProblemId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xxx.bean.JudgeproblemExample" resultType="java.lang.Integer" >
    select count(*) from judgeproblem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update judgeproblem
    <set >
      <if test="record.judgeProblemId != null" >
        judge_problem_id = #{record.judgeProblemId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.answer != null" >
        answer = #{record.answer,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update judgeproblem
    set judge_problem_id = #{record.judgeProblemId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      answer = #{record.answer,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxx.bean.Judgeproblem" >
    update judgeproblem
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=BIT},
      </if>
    </set>
    where judge_problem_id = #{judgeProblemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxx.bean.Judgeproblem" >
    update judgeproblem
    set title = #{title,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=BIT}
    where judge_problem_id = #{judgeProblemId,jdbcType=INTEGER}
  </update>
</mapper>