<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="context1">
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <!-- 使用自定义的插件 -->
        <commentGenerator type="com.xxx.util.mybatisgenerator.MyBatisGeneratorCustomer">

        </commentGenerator>


        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/blog?useUnicode=true&amp;characterEncoding=UTF8"
                        userId="root"
                        password="123456">
        </jdbcConnection>
        <!--需要修改targetProject-->
        <javaModelGenerator targetPackage="com.dimple.bean.test"
                            targetProject=""/>

        <!--需要修改targetProject-->

        <sqlMapGenerator targetPackage="com.dimple.dao.mapper"
                         targetProject=""/>

        <!--需要修改targetProject-->

        <javaClientGenerator targetPackage="com.dimple.dao"
                             targetProject=""
                             type="XMLMAPPER"/>

        <!--可配置多个table-->
        <table tableName="category">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>