<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="context1">
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <!-- 使用自定义的插件 -->
        <commentGenerator type="com.xxx.util.mybatisgenerator.MyBatisGeneratorCustomer">

        </commentGenerator>


        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/exam_system?useUnicode=true&amp;characterEncoding=UTF8"
                        userId="root"
                        password="123456">
        </jdbcConnection>
        <!--需要修改targetProject-->
        <javaModelGenerator targetPackage="com.xxx.bean"
                            targetProject="E:\Code\SSM\online_exam_system\src\main\java"/>

        <!--需要修改targetProject-->

        <sqlMapGenerator targetPackage="com.xxx.dao.mapper"
                         targetProject="E:\Code\SSM\online_exam_system\src\main\java"/>

        <!--需要修改targetProject-->

        <javaClientGenerator targetPackage="com.xxx.dao"
                             targetProject="E:\Code\SSM\online_exam_system\src\main\java"
                             type="XMLMAPPER"/>

        <!--可配置多个table-->
        <table tableName="exam">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="exam_problem">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="exam_user">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="judgeproblem">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="multiproblem">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="permission">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="role">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="role_permission">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="singleproblem">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="user">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="user_role">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>